<!DOCTYPE html>
<html>
    <head>
        <title>Trading Interface</title>
    </head>
    <body>
        <h1>Paper Trading Interface</h1>
        <br><br>
        <h2>Order Form</h2>
        <form method="POST">
            <select name="order_type">
                <option value="Select">Select order type</option>
                <option value="market">Market</option>
                <option value="limit">Limit</option>
                <option value="stop">Stop</option>
                <option value="stop_limit">StopLimit</option>
            </select>
            <input type="text" value="Ticker" name="ticker">
            <input type="number" value="0" name="qty">
            <input type="radio" value="buy" name="side">Buy
            <input type="radio" value="sell" name="side">Sell
            <input type="submit" value="Submit">
        </form>
        <h2>Research</h2>
        <div id='chart' class='chart'></div>
        <h2>Positions</h2>
        <!-- https://plotly.com/python/v3/html-reports/ -->
        <div id='main_table' class="table table-striped"></div>
    </body>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        var graphs = {{graphJSON | safe}};
        Plotly.plot('chart',graphs,{});
    </script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        var mytable = {{main_table | safe}};
        Plotly.plot('main_table',mytable,{});
    </script>
</html>