<!DOCTYPE html>
<html>
    <head>
        <title>Trading Interface</title>
    </head>
    <body>
        <h1>Paper Trading Interface</h1>
        <br><br>
        <h2>Order Form</h2>
        <form method="POST">
            <select name="order_type">
                <option value="Select">Select order type</option>
                <option value="Market">Market</option>
                <option value="Limit">Limit</option>
                <option value="Stop">Stop</option>
                <option value="StopLimit">StopLimit</option>
            </select>
            <input type="text" value="Ticker" name="ticker">
            <input type="number" value="0" name="qty">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>